[package]
name = "vector_llm_client"
version = "0.1.0"
edition.workspace = true
publish = false
license = "Apache-2.0"

[lints]
workspace = true

[dependencies]
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"

